body {
  color: #212519;
  font-family: 'Quicksand';
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-content: center;
}
.mainWrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100%;
}
.header {
  padding: 20px;
}

/* search */
.search__wrapper {
  position: relative;
}
.search__input {
  width: 100%;
  background-color: #efefef;
  outline: 2px solid transparent;
  border-radius: 20px;
  border: 0;
  padding: 15px 45px 15px 15px;
  font-size: 16px;
  color: #2d2a2a;
}
.search__icon {
  position: absolute;
  right: -2px;
  top: -2px;
  width: 60px;
  height: 60px;
}

/* weather */
.weather__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.weather__img {
  margin-top: 50px;
  width: 150px;
}
.weather__temp {
  font-size: 55px;
}
.weather__comm {
  font-size: 20px;
  margin-bottom: 16px;
}
.line {
  width: 250px;
  border: 2px solid #efefef;
  border-radius: 10px;
  margin-bottom: 35px;
}
.weather__day {
  font-size: 16px;
}
.weather__time {
  font-size: 20px;
}
.weather__loc {
  font-size: 40px;
}
.weather__loc-Time {
  margin-top: 10px;
}

main {
  background-color: #efefef;
  padding: 25px;
}

/* option */
.button {
  font-size: 20px;
  cursor: pointer;
  color: #8c8c8c;
}
.button-right {
  margin-left: 20px;
}
.button-active {
  color: #748cf1;
  font-size: 25px;
}

.weatherBox__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 60px;
  margin-top: 20px;
}
.weatherBox {
  display: flex;
  flex-direction: column;
  background-color: #748cf1;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  min-height: 150px;
  gap: 10px;
}
.weatherBox__text-high {
  color: #eaeaea;
}
.weatherBox__text-mid {
  font-size: 30px;
  color: #fff;
}
.weatherBox__text-mid-lower {
  font-size: 24px;
  color: #fff;
}
.weatherBox__text-low {
  font-size: 16px;
  width: 32px;
  display: inline-block;
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 45px;
  padding: 0 10px;
}
footer a {
  color: #056ad5 !important;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1000px) {
  .mainWrapper {
    display: block;
  }
}
@media (max-width: 800px) {
  .weatherBox__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  footer {
    margin-top: 25px;
  }
}
